* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* https://codeshare.io/240930 접속*/

@font-face {
    font-family: "Star Dust Bold";
    src: local("PFstardustBold"),
    url(./font/PF스타더스트\ 3.0\ S\ Bold.ttf);
}

/* Google Noto Sans*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
    color: #00ffff;
}   

h2 {
    font-family: "Star Dust Bold", "Noto Sans KR", system-ui;
    font-size: 25pt;
    text-align: center;
    padding: 50px 0;
    color: inherit;
}

li.menu > a{
    font-family: "Star Dust Bold", "Noto Sans KR", system-ui;
    font-weight: 500;
    font-size: 17pt;
    color: inherit;
}

ul {
    list-style: none;
}

a, p {
    font-family: "Noto Sans KR", system-ui;
    font-weight: normal;
    font-size: 10pt;
    text-decoration: none;
    color: inherit;
    color: #ebffff;
    white-space: normal;
    word-break: keep-all;
}

header {
    position: fixed;
    width: 1100px;
    height: 100px;
    padding: 20px 0;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(15px);
    background-color: #00000075;
    z-index: 1;
}

nav > li {
    color: inherit;
}

nav > ul#nav-bar {
    width: 700px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ul#nav-bar > li.menu {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

li.menu > ul#sub-bar {
    display: none;
    float: left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000050;
} */

ul#sub-bar > li.sub-menu {
    padding: 10px;
    text-align: left;
    backdrop-filter: blur(10px);
}


li:hover {
    color: #e6ffff;
    background-color: #00ffff25;
    border: 1px solid #00ffff;
}

ul#nav-bar > li.menu {
    position: relative;
    width: 110px;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
}

li.menu > ul#sub-bar {
    display: none;
    float: left;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #00000050;
}

ul#sub-bar >li.sub-menu {
    padding: 10px;
    text-align: left;
}

li.menu:hover > ul#sub-bar {
    display: block;
}

header>img {
    width: 150px;
    object-fit: contain;
}

#company {
    margin: auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}


footer {
    width: 100%;
    height: 400px;
    background-color: #1f2b34;
    color: #e6ffff;
}

#platform img, #SNS img {
    width: 32px;
    object-fit: contain;
}

#div#bottom-area {
    margin: auto;
    width: 350px;
}

#platform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
}

#SNS {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#SNS a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#SNS img {
    margin-right: 10px;
}

#company img {
    width: 150px;
    object-fit: contain;
}

#copyright {
    margin: auto;
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 180px;
    font-size: 10pt;
}

#copright img {
    width: 45px;
    object-fit: contain;
}

footer > hr {
    margin-bottom: 20px;
    bottom: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0) #0b353175, riba(0,0,0,0));
}

#container {
    width: 100%;
    padding-top: 200px;
    backdrop-filter: blur(2px);
    background: linear-gradient(#00150f30 0%,
                                #0b363150 50%, 
                                #33003030 100%);
}

section {
    width: 900px;
    margin: auto;
    padding-bottom: 150px;
}

body::before {
    content: "";
    background-image: url(./image/background.png);
    position: fixed;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
/* 
section {
    width: 100%;
} */

aside {
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}   

span#scroll-top {
    width: 50px;
    height: 50px;
    color: inherit;
    border: 1px solid #00ffff;
    background-color: #00ffff25;
    text-align: center;
    line-height: 47.5px;
    transition: .3s;
}

span#scroll-top:hover {
    color: #e6ffff;
    background-color: #00ffff50;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}

#trailer {
    width: 600px;
}

#trailer > iframe {
    border: 1px solid #00ffff;
    box-shadow: 0 0 20px #00ffff;
}

#about {
    width: 800px;
    height: auto;
}

div.concept {
    width: 700px;
    padding-bottom: 60px;
    margin: 0 auto;
}

div.concept >  {
    margin-bottom: 5px;
}

div.concept > p.sub-title {
    font-size: 12pt;
    font-weight: 700;
    margin-bottom: 7px;
}

div.concept > img {
    width: 700px;
    border: 2px solid #00ffff20;
    margin: 10px 0 40px 0;
    object-fit: contain;
}

div.awards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

div.awards > img {
    width: 250px;
    object-fit: contain;
}

#tab-area {
    width: 100%;
    height: 250px;
    display: flex;
    background-color: #00000070;
}

ul#tab-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}

li.tab-menu > a {
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}

div#info-area {
    width: 100%;
}

div#info-area > img {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

div.tab-info {
    display: none;
}

